<div class="flex pt-10 pb-5 align-middle justify-between">
  <!-- Top NavBar -->
  <div class="flex flex-1">
    <svg
      class="w-10 mr-2"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
      />
    </svg>
    <h1 class="text-4xl font-bold">Add New User</h1>
  </div>

  <%= link_to "All Users", users_path, class: "px-6 py-2 text-white
                    bg-red-500 rounded-md focus:bg-red-600 hover:bg-red-400 focus:outline-none
                    cursor-pointer " %>

  <br />
</div>
            <div class="m-7">
               <%= simple_form_for(@user) do |f| %>
                    <div class="mb-6">
                        <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Full Name</label>
                        <%= f.input :name, label: false, input_html: { class: "w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-gray-100 focus:border-gray-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" } %>
                    </div>
                    <div class="mb-6">
                        <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Email Address</label>
                        <%= f.input :email, label: false, input_html: { class: "w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-gray-100 focus:border-gray-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" } %>
                    </div>
                     <div class="mb-6">
                        <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Select User role</label>
                        <%= f.input :is_admin, :collection => ["Admin", "Clerk"], :as => :select, label: false, placeholder: "Admin",
                                               input_html: { class: "w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-gray-100 focus:border-gray-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" },
                                               value: "Admin" %> 
                    </div>

                     <div class="mb-6">
                        <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Phone Number</label>
                        <%= f.input :phone, label: false, input_html: { class: "w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-gray-100 focus:border-gray-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" } %>
                    </div>
                    <%= f.hidden_field :password, :value => "password" %>

                    <div class="mb-6">
                        <%= f.button :submit, "Add User", class: "w-full px-3 py-4 text-white bg-red-500  rounded-md focus:bg-red-600 hover:bg-red-400 focus:outline-none cursor-pointer " %>
                    </div>
               <% end %>
            </div>

