<h1> New  In Order</h1>
<%= form_with model: @order, local: true do |f| %>
    ...
    <fieldset>
        <legend>Addresses:</legend>
        <%= f.fields_for :orders_items do |orders_items_form| %>
            <%= render "address_fields", f: orders_items_form   %>
        <% end %>
        <%= link_to_add_fields "Add orders_items", f, :orders_items, "test" %>
    </fieldset>

    <%= f.submit %>
<%= button_to 'Call Action', add_order_item_orders_path, method: :post %>
<% end %>

